In [1]:
import pandas as pd

df_rating = pd.read_csv('./dataset/ratings.csv')
df_movie = pd.read_csv('./dataset/movies.csv')

merge_df = pd.merge(df_rating, df_movie, on='movieId')

grouped_df = merge_df.groupby(['movieId', 'title'])['rating'].agg(['count', 'mean'])

#sorted_df = grouped_df.sort_values(by=['count', 'mean'], ascending=[False, False])

grouped_df['finalGrade'] = grouped_df['mean'] + (grouped_df['count'] * 0.09)

sorted_df = grouped_df.sort_values(by=['finalGrade'], ascending=[False])

print(sorted_df.head(15))

                                                            count      mean  \
movieId title
356     Forrest Gump (1994)                                 81491  4.048011
318     Shawshank Redemption, The (1994)                    81482  4.413576
296     Pulp Fiction (1994)                                 79672  4.188912
593     Silence of the Lambs, The (1991)                    74127  4.151342
2571    Matrix, The (1999)                                  72674  4.154099
260     Star Wars: Episode IV - A New Hope (1977)           68717  4.120189
480     Jurassic Park (1993)                                64144  3.679175
527     Schindler's List (1993)                             60411  4.247579
110     Braveheart (1995)                                   59184  4.002273
2959    Fight Club (1999)                                   58773  4.228311
589     Terminator 2: Judgment Day (1991)                   57379  3.946374
1196    Star Wars: Episode V - The Empire Strikes Back ...  57361  4.144122
1       Toy Story (1995)                                    57309  3.893708
4993    Lord of the Rings: The Fellowship of the Ring, ...  55736  4.091189
50      Usual Suspects, The (1995)                          55366  4.284353

                                                             finalGrade
movieId title
356     Forrest Gump (1994)                                 7338.238011
318     Shawshank Redemption, The (1994)                    7337.793576
296     Pulp Fiction (1994)                                 7174.668912
593     Silence of the Lambs, The (1991)                    6675.581342
2571    Matrix, The (1999)                                  6544.814099
260     Star Wars: Episode IV - A New Hope (1977)           6188.650189
480     Jurassic Park (1993)                                5776.639175
527     Schindler's List (1993)                             5441.237579
110     Braveheart (1995)                                   5330.562273
2959    Fight Club (1999)                                   5293.798311
589     Terminator 2: Judgment Day (1991)                   5168.056374
1196    Star Wars: Episode V - The Empire Strikes Back ...  5166.634122
1       Toy Story (1995)                                    5161.703708
4993    Lord of the Rings: The Fellowship of the Ring, ...  5020.331189
50      Usual Suspects, The (1995)                          4987.224353

In [ ]:
import pandas as pd

df_rating = pd.read_csv('./dataset/ratings.csv')
df_movie = pd.read_csv('./dataset/movies.csv')

merge_df = pd.merge(df_rating, df_movie, on='movieId')

grouped_df = merge_df.groupby(['movieId', 'title'])['rating'].agg(['count', 'mean'])

#sorted_df = grouped_df.sort_values(by=['count', 'mean'], ascending=[False, False])

grouped_df['finalGrade'] = grouped_df['mean'] + (grouped_df['count'] * 0.09)

sorted_df = grouped_df.sort_values(by=['finalGrade'], ascending=[False])

print(sorted_df.head(15))